@media (max-width: 1124px) {
    .big-box {
        flex-direction: column;
        align-items: center; }
    .left-box {
        display: flex;
        align-items: center;
    }
    
}


 


@media (max-width: 570px){
    .left-txt1{
        width: 100%;
        font-size: 28px;
    }
    .left-txt2{
        width: 100%;
    }
    .blue{
        width: 150px;
    }
    .left-box{
        align-items: flex-start;    
    }

}